@media (hover: none) {
    #navLinks > button {
        background-color: var(--color-priB);
    }
    #navLinks > button > div {
        display: inherit;
    }
    #touchFocus {
        z-index: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 75%;
        background-color: var(--color-gray);
        display: none;
    }
}

@media (max-width: 40rem) {
    nav {
        align-items: stretch;
    }
    nav button div {
        position: relative;
    }
    #navLinks {
        display: none;
        flex-direction: column;
        flex-grow: 3;
    }
    #navMenu {
        display: block;
        flex-grow: 1;
    }

    #footerLogo {
        /* Make the other element to new line */
        flex-basis: 40rem;
    }

    .secCol > div > img.borRouTL,
    .secCol > div > img.borRouTR,
    .secCol > div > img.borRouBR,
    .secCol > div > img.borRouBL {
        /* Remove rounded corner when it is vertically align
        Todo: change so that is can remove at the same time when the layout
        switch vertically because of flex-basis */
        border-radius: 0;
    }
}