/* To show a horizontal-scroll timeline
<section class="timeline">
    <div>
        <div class="content">
            <h3>A</h3>
            <p>test</p>
        </div>
        <div class="time">
            <span>&#x25BC;</span>
            <p>2010</p>
        </div>
    </div>
</section>
*/
.timeline {
    --content-width: 20rem;
    width: 100%;
    overflow-x: auto;
    display: flex;
}
.timeline > div {
    flex: 0 0 var(--content-width);
    align-self: flex-end;
}
.timeline .content {
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray);
}
.timeline .time {
    text-align: center;
}
.timeline .time p {
    margin-top: 0;
    text-align: center;
    font-size: x-large;
    background: var(--color-priB);
    color: var(--antiflash-white);
}